:root {
    --green: #95C11F;
    --green500: #709117;
    --lightgreen: #D5E6A5;
    --darkgreen: #155724;
    --lightpetrol: #99DDCC;
    --validated: #1AB394;
    --fiskaltrust: #00A7CE;
    --fiskaltrust-hover: #007D9A;
    --text-info: #0C5460EB;
    --lightgrey: #676A6C;
    --darkgrey: #212529;
    --yellow: #F8AC59;
    --lightyellow: #FFEFCC;
    --red: #ED5565;
    --lightred: #F8D7DA;
    --lightblue: #E6F7FB;
    --lightgray: #D9DCDD;
    --gray:#F3F3F4;
    --darkbeige:#C2A7CDEB;
    --darkgray: #404040;
    --icondefault: #676A69;
    --textdefault: #676A69;
    --neutral-100: #F3F3F4;
    --petrol-100: #E5F6FA;
    --neutral-350: #D9DCDD;
    --charocal-100: #F5F7F8;
    --charocal-200: #CCD2D4;
    --charocal-300: #67777E;
}