.search-bar {
    display: flex;
    flex-shrink: 1;
    background: rgba(0, 0, 0, 0.06);
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 14px;
}

.white-search-bar {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #f3f3f4;
}

.search-bar .search-bar--list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 0;
    width: 100%;
}

.search-bar .search-bar--list .search-bar--item.search-bar--item-keyword-container {
    flex-grow: 1;
    margin-right: 8px;
    min-width: 220px;
    display: flex;
    max-width: 100%;
}

.search-bar .search-bar--list .search-bar--item {
    flex-shrink: 0;
    max-width: 100%;
}

.textfield {
    color: rgba(0, 0, 0, 0.9);
    border-radius: 2px;
    border: 1px solid;
    border-color: rgba(200, 200, 200, 1);
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    min-width: 64px;
}

.text-filterbaritem {
    background-color: transparent;
    border: none;
}

.search-bar .search-bar--list .search-bar--item .textfield {
    background-color: transparent;
}

.textfield-input {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 5px 11px;
    resize: none;
    width: 100%;
}

.textfield-input-with-prefix {
    padding-left: 8px;
}

.text-filterbaritem-input {
    background-color: transparent;
}

.textfield-no-text {
    color: rgba(0, 0, 0, 0.55);
}

.icon.medium {
    font-size: 1em;
    line-height: 1em;
}

.textfield .prefix {
    padding-left: 4px;
    margin-left: 7px;
}

.textfield-icon {
    align-self: center;
    display: inline-flex;
    -webkit-font-smoothing: antialiased;
}

.search-pmb-0 {
    padding: 0px;
    margin: 0px;
    border: 1px solid #e5e6e7;
    border-radius: 0px;
}

.search-ml-7 {
    margin-left: 7px;
}

.search-with-selected {
    margin: 0px 1rem 0px 0px;
    height: 34px;
}