.color-pdf-red {
    color: #B41D22;
}

.color-word-blue {
    color: #2B579A;
}

.color-zip-yellow {
    color: #FDCF13;
}

.color-excel-green {
    color: #217346;
}

.color-windows-folder-yellow {
    color: #FFD96A;
}

.ft-blue-petrol {
    color: #00A7CE;
}
