:root {
    --green: #95C11F;
    --lightgreen: #D5E6A5;
    --darkgreen: #155724;
    --lightpetrol: #99DDCC;
    --validated: #1AB394;
    --fiskaltrust: #00A7CE;
    --text-info: #0C5460EB;
    --lightgrey: #676A6C;
    --darkgrey: #212529;
    --yellow: #F8AC59;
    --lightyellow: #FFEFCC;
    --red: #ED5565;
    --lightred: #F8D7DA;
    --lightblue: #E6F7FB;
    --lightgray: #D9DCDD;
    --gray:#F3F3F4;
    --darkbeige:#C2A7CDEB;
    --darkgray: #404040;
}